[Unit]
Description=Toggle eGPU support
Before=multi-user.target

[Service]
ExecStart=/usr/bin/detect-egpu
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
