[Unit]
Description=load %I kernel into the current kernel
Documentation=man:kexec(8)
DefaultDependencies=no
Before=shutdown.target umount.target final.target

[Service]
Type=oneshot
ExecStart=/sbin/kexec -l /boot/vmlinuz-%I --initrd=/boot/initramfs-%I.img --reuse-cmdline

[Install]
WantedBy=kexec.target
