[Unit]
Description=Update pacman index and retrieve packages

[Timer]
OnBootSec=15m
OnUnitActiveSec=1h
AccuracySec=5m

[Install]
WantedBy=timers.target
