common/.config/ImageMagick/
common/.config/Mumble/
common/.config/Popcorn-Time/
common/.config/QtProject.conf
common/.config/ReText project/
common/.config/Thunar/renamerrc
common/.config/Trolltech.conf
common/.config/akonadi
common/.config/caffeine
common/.config/chromium
common/.config/dconf/
common/.config/google-googletalkplugin
common/.config/gtk-2.0/gtkfilechooser.ini
common/.config/homebank/
common/.config/inkscape/
common/.config/keepassx
common/.config/leafpad
common/.config/libreoffice/
common/.config/meld
common/.config/pavucontrol.ini
common/.config/pulse
common/.config/smplayer/
common/.config/sublime-text-3/Cache/
common/.config/sublime-text-3/Index/
common/.config/sublime-text-3/Local/
common/.config/sublime-text-3/Packages/User/Package Control.*
common/.config/systemd/user/desktop.target.wants/*
common/.config/xarchiver
common/.ssh/id_dsa*
common/.ssh/known_hosts
common/.ssh/mer-qt-creator-rsa*
common/.subversion/README.txt
common/.subversion/auth
local

*.cache
