home/.config/Bitcoin/
home/.config/ImageMagick/
home/.config/MonoDevelop-5.0/
home/.config/MonoDevelop/
home/.config/Mumble/
home/.config/NuGet/
home/.config/Popcorn-Time/
home/.config/QtProject.conf
home/.config/ReText project/
home/.config/SubDownloader/
home/.config/Thunar/accels.scm
home/.config/Thunar/renamerrc
home/.config/Trolltech.conf
home/.config/akonadi
home/.config/caffeine
home/.config/chromium
home/.config/configstore/*bower*
home/.config/dconf/
home/.config/google-googletalkplugin
home/.config/gtk-2.0/gtkfilechooser.ini
home/.config/homebank/
home/.config/inkscape/
home/.config/keepassx
home/.config/leafpad
home/.config/libreoffice/
home/.config/meld
home/.config/pavucontrol.ini
home/.config/pulse
home/.config/smplayer/
home/.config/sublime-text-3/Cache/
home/.config/sublime-text-3/Index/
home/.config/sublime-text-3/Local/
home/.config/sublime-text-3/Packages/User/Package Control.*
home/.config/systemd/user/desktop.target.wants/*
home/.config/xarchiver
home/.ssh/known_hosts
home/.ssh/mer-qt-creator-rsa*
home/.subversion/README.txt
home/.subversion/auth

*.cache
