local
common/.ssh/known_hosts
common/.ssh/id_dsa*
common/.ssh/mer-qt-creator-rsa*
common/.subversion/auth
common/.config/systemd/user/desktop.target.wants/*
common/.config/sublime-text-3/Packages/User/Package Control.*
