[submodule "common/.config/sublime-text-3/Packages/CTags"]
	path = common/.config/sublime-text-3/Packages/CTags
	url = https://github.com/SublimeText/CTags
[submodule "common/.config/sublime-text-3/Packages/LESS"]
	path = common/.config/sublime-text-3/Packages/LESS
	url = git://github.com/danro/LESS-sublime.git
[submodule "common/.config/sublime-text-3/Packages/BracketHighlighter"]
	path = common/.config/sublime-text-3/Packages/BracketHighlighter
	url = git@github.com:facelessuser/BracketHighlighter.git
[submodule "common/.config/sublime-text-3/Packages/Anaconda"]
	path = common/.config/sublime-text-3/Packages/Anaconda
	url = https://github.com/DamnWidget/anaconda.git
