pkgbase = whynothugo-desktop
	pkgdesc = Metapackage for WhyNotHugo's desktop.
	pkgver = 150.e2afebf
	pkgrel = 1
	url = https://gitlab.com/WhyNotHugo/sysconfig
	install = sysconfig.install
	arch = any
	license = ISC
	depends = base
	depends = downgrade
	depends = linux
	depends = linux-firmware
	depends = linux-headers
	depends = meta-group-base-devel
	depends = paru
	depends = kernel-modules-hook
	depends = openrazer-meta-git
	depends = pam-u2f
	depends = razercommander
	depends = solaar
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = otf-font-awesome
	depends = otf-operator-mono-nerd
	depends = ttf-opensans
	depends = ttf-twemoji
	depends = ttf-ubuntu-font-family
	depends = darkman
	depends = gammastep
	depends = mako-git
	depends = ponymix
	depends = swayidle
	depends = swaylock
	depends = systemd-lock-handler
	depends = waybar
	depends = waylock
	depends = wev
	depends = wl-clipboard
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-wlr
	depends = xorg-xwayland
	depends = xorg-xwayland
	depends = alacritty
	depends = blueman-git
	depends = nemo
	depends = nemo-fileroller
	depends = network-manager-applet
	depends = pavucontrol-git
	depends = seahorse
	depends = shotman
	depends = sway
	depends = sway-launcher-desktop
	depends = tor-browser
	depends = wdisplays-git
	depends = wf-recorder-git
	depends = xorg-xeyes
	depends = drm_info-git
	depends = khal
	depends = perl-file-mimeinfo
	depends = perl-image-exiftool
	depends = restic
	depends = rsync
	depends = todoman
	depends = usbutils
	depends = vdirsyncer
	depends = emoji-cli
	depends = starship
	depends = zsh
	depends = zsh-completions
	depends = zsh-doc
	depends = zsh-syntax-highlighting
	depends = amazon-ecr-credential-helper
	depends = aws-cli
	depends = aws-session-manager-plugin
	depends = aws-vault
	depends = awslogs
	depends = docker-compose
	depends = docker-credential-secretservice
	depends = docker-rootless-extras
	depends = fzf
	depends = git-crypt
	depends = go
	depends = insomnia-bin
	depends = nvm
	depends = openssh
	depends = pkgbuild-introspection
	depends = python-black
	depends = python-ipdb
	depends = python-pipenv
	depends = python-pre-commit
	depends = python-tox-poetry
	depends = pyupgrade
	depends = rustup
	depends = terraform
	depends = the_silver_searcher
	depends = bash-language-server
	depends = efm-langserver
	depends = efm-langserver
	depends = eslint
	depends = eslint-plugin-vue
	depends = gopls
	depends = jedi-language-server
	depends = lua-language-server
	depends = neovim-git
	depends = nodejs-vls
	depends = prettier
	depends = python-flake8-bugbear
	depends = python-flake8-comprehensions
	depends = python-flake8-efm
	depends = python-flake8-import-order
	depends = python-language-server
	depends = python-reorder-python-imports
	depends = rust-analyzer
	depends = terraform-ls
	depends = typescript-language-server
	depends = vue-cli
	conflicts = sysconfig
	replaces = sysconfig

pkgname = whynothugo-desktop
