[Unit]
Description=Composite window manager
Before=compiz.target

[Service]
ExecStart=/usr/bin/compiz ccp
Restart=always
RestartSec=5

[Install]
WantedBy=desktop.target
