[Unit]
Description=Conky: the main bottom toolbar

[Service]
ExecStart=/usr/bin/conky -c %h/.config/conky/main
Restart=always
RestartSec=1

[Install]
WantedBy=desktop.target
