[Unit]
Description=A daemon for temporarily disabling trackpads on keyboard events.

[Service]
ExecStart=/usr/bin/dispad -F --config /home/hugo/.config/dispad/dispad.conf

[Install]
WantedBy=desktop.target
