[Unit]
Description=Mount all films in a single mountpoint

[Service]
ExecStart=/usr/bin/unionfs -f /media/D2/:/media/D3:%h/downloads/Torrents/_films/ %h/films/

[Install]
WantedBy=desktop.target
