[Unit]
Description=Mount all films in a single mountpoint

[Service]
ExecStart=/usr/bin/unionfs -f /media/D2/:/media/D3:/home/hugo/downloads/Torrents/_films/ /home/hugo/films/

[Install]
WantedBy=desktop.target
