[Unit]
Description=Mount all films in a single mountpoint

[Service]
ExecStart=/usr/bin/unionfs -f /media/D2/=RW:/media/D3:%h/downloads/torrents/_films/ %h/mount/films/

[Install]
WantedBy=desktop.target
