[Unit]
Description=Inverts the Alt_L and Super_L keys
Before=compiz.service

[Service]
ExecStart=/usr/bin/xmodmap /home/hugo/.config/xmodmap/invert_alt_super
Type=oneshot

[Install]
WantedBy=desktop.target
