[Unit]
Description=Lightweight GTK+ Clipboard Manager
After=xorg.target

[Service]
ExecStart=/usr/bin/parcellite --daemon --no-icon

[Install]
WantedBy=wm.target
