[Unit]
Description=PulseAudio Sound Server for X11

[Service]
ExecStart=/usr/bin/start-pulseaudio-x11
Type=oneshot

[Install]
WantedBy=desktop.target
