[Unit]
Description=Reverts the scrolling direction

[Service]
ExecStart=/usr/bin/xmodmap %h/.config/xmodmap/reverse_scrolling
Type=oneshot

[Install]
WantedBy=desktop.target
