[Unit]
Description=Reverts the scrolling direction

[Service]
ExecStart=/usr/bin/xmodmap /home/hugo/.config/xmodmap/reverse_scrolling
Type=oneshot

[Install]
WantedBy=desktop.target
