[Unit]
Description=Allow VNC connections to real X11 displays

[Service]
ExecStart=/usr/bin/x11vnc -noxdamage -forever -localhost -xauth $XAUTHORITY -display :0 -nopw -ncache 10

[Install]
WantedBy=desktop.target
