[Unit]
Description=Lock the screen after 5 minutes

[Service]
ExecStart=/usr/bin/xautolock -time 5 -locker slock -corners 00-0

[Install]
WantedBy=desktop.target
