[Unit]
Description=Change the xbell to a more subtle sound (for ares)
After=xorg.target

[Service]
ExecStart=/usr/bin/xset b 4 10000 100 &
Type=oneshot

[Install]
WantedBy=wm.target
