[Unit]
Description=A grabbing keys program for X

[Service]
ExecStart=/usr/bin/xbindkeys -n -f %h/.config/xbindkeys/xbindkeysrc
KillMode=process

[Install]
WantedBy=desktop.target
