[Unit]
Description=A grabbing keys program for X
After=xorg.target

[Service]
ExecStart=/usr/bin/xbindkeys -n -f /home/hugo/.config/xbindkeys/xbindkeysrc
KillMode=process

[Install]
WantedBy=wm.target
