# I generally only ignore settings for application which save settings I don't
# care about. It's fine if they get reset or lost.
#
# In most cases, this implies that the defaults are perfectly sane, and
# just saves last open directory, window size, or stuff like this.
#
# Also apps that store setting binary formats.

1Password
AtomZombieData
EVEMon
Genymobile
Insomnia
MuseScore
Popcorn-Time
QtProject.conf
Signal*
SubDownloader
Trolltech.conf
VirtualBox
Yubico
chromium
configstore
d-feet
deluge
discord
inkscape
kdeglobals
kolourpaint.kmessagebox
kolourpaintrc
krulerrc
l3afpad
libreoffice
neofetch
nvim-qt/window-geometry.confim
openrazer
pavucontrol.ini
pipewire-media-session
poedit
pulse
razercommander
remmina
retroarch
skypeforlinux
solaar
spotify
torbrowser
