# I generally only ignore settings for application which save settings I don't
# care about. It's fine if they get reset or lost.
#
# In most cases, this implies that the defaults are perfectly sane, and
# just saves last open directory, window size, or stuff like this.
#
# Also apps that store setting binary formats.

EVEMon
Genymobile
Insomnia
Popcorn-Time/
QtProject.conf
SubDownloader
Trolltech.conf
VirtualBox
chromium
configstore
d-feet
deluge
discord
inkscape/
l3afpad
neofetch
nvim-qt/window-geometry.confim
nvim/.netrwhist
nvim/plugged/
nvim/spell/
pavucontrol.ini
poedit
pulse
retroarch
skypeforlinux
solaar
spotify
torbrowser
