EVEMon
Insomnia
SubDownloader
Trolltech.conf
chromium
configstore
d-feet
dconf
deluge
discord
l3afpad
neofetch
nvim-qt/window-geometry.confim
nvim/.netrwhist
poedit
retroarch
skypeforlinux
solaar
spotify
