#
# ~/.aliases
#

alias ls='ls -Fh --color=auto'
alias ll='ls -l --color=tty'
alias la='ls -la'
alias grep="grep --color=auto"
alias sudo='/usr/bin/sudo '
alias vte='vte --reverse -f "Droid Sans Mono" -D'
alias clock='/usr/bin/tty-clock -s -c -C 7'
alias readcd='readcd -dev=/dev/sg1 -f '
alias tree='tree -C'
alias diff='colordiff'
alias less='less -r'
alias open='xdg-open'
alias vi=vim
alias fmt='fmt -w 79'
