[Unit]
Description=Temporarily inhibit screenlocking
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/caffeine

[Install]
WantedBy=xorg.target
