[Unit]
Description=Maintain clipboard data ownership
Documentation=man:parcellite(1)
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/parcellite --no-icon

[Install]
WantedBy=xorg.target
