[Unit]
Description=A bitorrent client daemon
Documentation=man:deluged(1)

[Service]
ExecStart=/usr/bin/deluged -d

[Install]
WantedBy=default.target
