[Unit]
Description=A tiling window manager
Documentation=man:i3(1)
After=xorg.target
Requires=xorg.target
RefuseManualStop=true

[Service]
ExecStart=/usr/bin/i3
ExecReload=/usr/bin/i3-msg reload

[Install]
WantedBy=xorg.target
