[Unit]
Description=Enable natural scrolling for all pointers
After=xorg.target
Requires=xorg.target
ConditionPathExists=!/etc/is-vm

[Service]
ExecStart=/bin/sh ${HOME}/.local/bin/natural-scrolling
Type=oneshot

[Install]
WantedBy=xorg.target
