[Unit]
After=xorg.target
Description=Enable numlock

[Service]
ExecStart=/usr/bin/numlockx
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=xorg.target
