[Unit]
Description=Terminate Plymouth Boot Screen

[Service]
ExecStart=-/usr/bin/sudo /usr/bin/plymouth quit --retain-splash
Type=oneshot
TimeoutSec=20

[Install]
WantedBy=graphical-session.target
