[Unit]
Description=Send RSS feeds via email
ConditionPathExists=/usr/bin/r2e

[Service]
ExecStart=/usr/bin/r2e run
Type=simple

[Install]
WantedBy=default.target
