[Unit]
Description=Send RSS feeds via email
ConditionPathExists=/usr/bin/r2e

[Timer]
OnBootSec=5m
OnUnitActiveSec=5m
AccuracySec=2m

[Install]
WantedBy=timers.target
