[Unit]
Description=Daemon to manage razer devices in userspace
ConditionPathExists=/usr/bin/razer-service

[Service]
ExecStart=/usr/bin/razer-service -Fv

[Install]
WantedBy=default.target
