[Unit]
Description=Screen powersaving mode
PartOf=lock.target

[Service]
ExecStart=/bin/sh ${HOME}/.local/lib/screen-off
ExecStopPost=/usr/bin/swaymsg "output * dpms on"

[Install]
WantedBy=lock.target
WantedBy=sleep.target
