[Unit]
Conflicts=unlock.target
Description=Keep the screen off (X11)
Documentation=man:xset(1)
PartOf=lock.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xset dpms 3
ExecStop=/usr/bin/xset dpms 0
RemainAfterExit=true

[Install]
WantedBy=lock.target
