[Unit]
Description=A simple X screen locker
Requisite=xorg.target
ConditionPathExists=!/etc/is-vm

[Service]
Type=oneshot
# When not pausing, for some reason slock fails to start sometimes
# (maybe it can't grab the  keyboard if a key is down?)
ExecStart=/usr/bin/sleep 0.5
ExecStart=/usr/bin/slock
ExecStopPost=/usr/bin/systemctl --user start unlock.target

[Install]
WantedBy=lock.target
