[Unit]
Description=Screen locker for Wayland
PartOf=lock.target

[Service]
ExecStart=/usr/bin/swaylock -ec 111111
ExecStopPost=/usr/bin/systemctl --user stop lock.target

[Install]
WantedBy=lock.target
WantedBy=sleep.target
