[Unit]
Description=Update the wallpaper on display change.
ConditionPathExists=/sys/class/drm/card0-%i/status
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/bin/sh ${HOME}/.local/bin/wallpaper-on-display %i

[Install]
WantedBy=xorg.target
