[Unit]
Description=Lock the screen on inactivity
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/xss-lock systemctl --user start lock.target

[Install]
WantedBy=xorg.target
