[Unit]
Description=Set a background image
After=xorg.target
Requires=xorg.target

[Service]
ExecStart=/bin/sh ${HOME}/.local/bin/xwallpaper
Type=oneshot

[Install]
WantedBy=xorg.target
